dialog {
  width: 90vw;
  height: 90vh;
  position: -webkit-sticky;
  position: sticky;
  top: 10vh;
}

input[type="file"],
input[type="button"],
input[type="submit"] {
  height: 0;
  width: 0;
  padding: 0;
  opacity: 0;
}

input[type="text"] {
  width: 60vw;
  padding: 2px;
}

label:not([for]) {
  background: #eee;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;
}

label:not([for]):hover {
  background: #fff;
}

.role {
  padding: 2px;
  display: flex;
}

.card {
  margin: 10px;
  display: inline-block;
  background: #eee;
}

.main {
  float: left;
  width: 60vw;
}

.menu {
  float: right;
  width: 20vw;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}
