input[type="file"] {
  height: 0;
  padding: 0;
  opacity: 0;
}

label[for="fileloader"] {
  background: #eee;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 5px;
  text-align: center;
  line-height: 1.5;
}

label[for="fileloader"]:hover {
  background: #fff;
}
